---
import Main from "@/layouts/main.astro";
import ListaConversatii from "@/components/ListaConversatii";
---

<Main title="StegoApp">
  <div class="flex h-screen">
    {/* Panoul din stânga (Lista de conversații) */}
    <aside class="border-r border-gray-200 overflow-x-auto flex-shrink-0">
      <ListaConversatii client:load />
    </aside>

    {/* Panoul din dreapta (Conținutul conversației - inițial gol) */}
    <main class="flex-1 overflow-hidden flex items-center justify-center">
      <p class="text-gray-500">
        Selectează o conversație pentru a o vizualiza.
      </p>
    </main>
  </div>
</Main>
